body {
	font-family: verdana;
	margin-top: 200px;
	margin-left: 80px;
	width: 850px;
}

h1 {
	font-size: 28pt;
	font-family: Lobster;
	color: #FF6666;
}

h2 { 
	font-size: 8pt;
	line-height: 15px;
	font-weight: lighter;
}


div{
	padding-bottom: 20px;
}

.label {
	font-weight: bold;
}

.Section div{
	padding-bottom: 0px;

}

p  { 
	font-size: 10pt;
	font-weight: lighter;
	line-height: 19px;
}

.Job {
	font-size: 12pt;
	font-weight: bold;
	padding-top: 20px;
	font-family: Lato;
	font-style: bold;
	color: #FF6666;
	padding-left: 40px;

}

.Job p {
	color: black;
}

.Section {
	font-size: 16pt;
	font-weight: bold;



}